.main {
  flex-grow: 1;
  min-width: 0;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  min-width: 0;
}

.container {
  flex-grow: 1;
  height: 100vh;
  min-width: 0;
  display: flex;
  flex-direction: column;
}
